/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.clearfix{
	clear: both;
}

.wrap{
	margin:0 auto;
	width: 1000px;
}
.title{
	background: rgb(87, 86, 86);
}
.type,.logo,.result{
	float: left;
}
.logo{
	margin: 80px 100px 40px 100px;
}
.type li{
	margin: 30px;
}
.typeHeight,.typeWeight,.typeName{
	border-radius:5px;
	border: 2px solid rgb(255, 211, 102);
    font-size: 15px;
}
.type span{
	display: block;
	margin-bottom:10px;
	color:	rgb(255, 211, 102);
}
/*送出結果*/
.send,.send:hover,.send:active{
	box-sizing:border-box;
	display: inline-block;
	height: 100px;
	width: 100px;
	margin: 100px 50px 50px 50px;
	border-radius: 100%;
	background: rgb(255, 211, 102);
	text-align: center;
	line-height: 100px;
}
.send:hover{
	border:3px solid rgb(153, 148, 137);
}
.send:active{
	background: rgb(247, 178, 3);
	border:none;
}

.send .answer{
	font-size: 20px;
}
.send .unit,.send .reload,.send .description{
	display:none;
}



/*看結果*/
.result {
	box-sizing:border-box;
	display: inline-block;
	height: 100px;
	width: 100px;
	margin: 100px 50px 50px 50px;
	border-radius: 100%;
	background: rgb(255, 255, 255,0);
	text-align: center;	
	color: greenyellow;
	border: 5px solid greenyellow;
	position: relative;
}

.result ul{
	position: absolute;
	top: 32%;
	left:15%;
	z-index: 2;
}
.result .answer{
	font-size: 30px;
	text-align:center;
}

.result .reload{
	width: 22px;
	height: 22px;
	padding:3px 1px 1px 1px;
    border:1px solid gray;
	border-radius: 100%;
	right:-2%;
	bottom:-2%;
	position: absolute;
	z-index: 10;
	background:greenyellow;
}

.result p{
	width: 150px;
	position: absolute;
	top:25%;
	left:120%;
	font-size: 30px;
	text-align:left; 
}





.log{
	background: rgb(245, 245, 245);
}
.log p{
	text-align:center;
	padding: 20px 0 20px 0;
	font-size: 30px;
}
.list {
  padding-bottom: 10px;
}
.list li{
    height: 50px;
	width:950px;
	margin: 0 auto 10px auto;
	padding-bottom: 10px;
	background: #fff;
}
.list li p{
	box-sizing: border-box;
	display: inline-block;
	font-size: 22px;
	margin-right: 5px;
	width: 95px;
	text-align: left;
	font-weight:bold;
    	
}
.list li span{
	display: inline-block;
	font-size: 15px;
	box-sizing: border-box;	
	margin: 0 5px 0 30px;
}
.list li .time{
	width: 109.156px;
}
.list li div{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	margin-left: 10px;
	position: relative;
}
.list li div img{
	padding: 7px 0 5px 4px;
	position: absolute;
}




.end{
	background:rgb(247, 181, 16);
}
.end .endlogo {
	display: block;
	margin:  0 auto;
	padding: 20px 0  20px 0;
	height: 55px;
	width: 55px;
}